body {
    background-color: #393e46;
}


.container {
    text-align: center;
}

.player {
    display:flex;
    justify-content: center;
    gap: 4rem;
}

.card1 {
    text-align: center;
}

.card2 {
    text-align: center;
}

.card1 img {
    width: 11.3rem;
}

.card2 img {
    width: 11.3rem;
}

button {
    color: #030b09;
    margin: 1.5rem;
    font-size: 1rem;
    border-radius: 15px;
    background-color: #951f25;
    color: aliceblue;
    cursor: pointer;
}

h1 {
    font-family: "Lobster", cursive;
    font-size: 6rem;
    color: #4ecca3;
    text-shadow: 5px 0 #232931;
    margin: 1.8rem;
}

p {
    font-family: "Indie Flower", cursive;
    color: #4ecca3;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
